network/bin
network/charts/cli-peer/blocks
network/charts/cli-peer/crypto

network/charts/orderer/blocks
network/charts/orderer/crypto

network/charts/peer/crypto

gateway/chart/crypto

node_modules
*.tgz
*.tar.gz
package-lock.json

gateway/dist
notifier/dist